/* navbar css */ 
.navbar{
    margin: 0;
    padding: 0;
  }
  .navbar-nav{
  font-size: 17px;
  font-weight: 400;
  }
  .nav-item>a{
    text-decoration: none;
    color: #0e0e0e;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
  }
  
  .nav-item>a:hover{
    font-weight: bolder;
    color:  maroon;
    font-family: 'Ephesis', cursive;
    font-size: 24px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* Store Location page css */
  .location {
      padding: 20px;
      margin-left: 60px;
      margin-right: 60px;
    }
    .text-1{
      width: 100%;
      height: 100vh;
      overflow-x:hidden ;
      overflow-y: auto;
    } 
    
    .location>h1 {
      margin-top: 20px;
      font-family: 'Ephesis', cursive;
      font-size: 85px;
      font-weight: 500;
      text-align: center;
    }
    
    .location-text {
      margin-top: 10px;
    }
    
    iframe {
      width: 100%;
      height: 700px;
      border: 0;
    }
    
    .location-text{
      margin-bottom: 3px;
      color: rgb(0, 0, 0);
      font-size: 17px;
      letter-spacing: 1px;
      line-height: 40px;
      font-family: 'Great vibes', cursive;
     
    } 
    .location-text>i{
      color: orange;
    }
    .location-text>h3{
      font-weight: bold;
      
    }
    .location-text>h3:hover{
     color: orange;
    
    }
    
  /* footer css start  */
  .foot-text{
      font-weight: bolder;
      font-weight: 900;
      font-size: 19px;
      font-family: 'Great Vibes', cursive;
      color: black;
    }
    .foot-icon a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
      }
      .foot-icon a:hover{
        color: #24262b;
        background-color: #ffffff;
      }
    
      .footer-col h5{
        font-size: 18px;
        color: #000;
      font-family: 'Great Vibes', cursive;
        font-weight: 500;
      border-bottom: 2px solid green;
      padding-bottom: 10px;
      width: fit-content;
    }
    
    @media (max-width:769px) {
     .footer-col {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    
    .footer-none>ul>li{
      list-style-type: none;
    }
    
    .footer-none>ul>li>a{
      text-decoration: none;
      font-size: 16px;
      color: black;
      font-family: 'Great Vibes', cursive;
      font-weight: 700;
      margin-bottom: 20px;
      transition: all 0.3s ease;
      margin-bottom: 15px;
     
    }
    
    .footer-none >ul> li> a:hover{
        color: #ffffff;
        padding-left: 8px;
    }
    .footer-icon>p>.fas{
      color: black;
      transition: all 0.3s ease;
    }
    
     .footer-icon>p{
      color: black;
      font-weight: 900;
      font-size:16px;
      font-family: 'Great Vibes', cursive;
      transition: all 0.3s ease;
    }
    .footer-icon>p:hover
    {
      padding-left: 8px;
    }
    .footer-icon>p>.fas{
      display: inline-block;
      width: 40px; 
      text-align: center;
      line-height: 33px;
      border-radius: 30%;
      color: #000;
      transition: all 0.5s ease;
    }
    .footer-icon>p>.fas:hover{
      color: rgba(88, 81, 81, 0.521);
      background-color: #ffffff;
    }
    .footer-copy{
      text-align: center;
      font-size: 15px;
      font-family: 'Great Vibes', cursive;
      color: white;
    }
    .footer-copy>a{
      color: white;
      font-size: 18px;
      font-weight: 500;
    }
    /* footer css End  */
    
    